@import '../scss/utils/mixins';
@import "../scss/utils/variables";

.card {
  margin: 0 auto;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 90%);
  width: 352px;
  height: 260px;

  @include media(xl) {
    width: 320px;
    height: 260px
  }

  @include media(lg) {
    width: 350px;
    height: 260px
  }

  @include media(md) {
    width: 290px;
    height: 200px
  }

  @include media(sm) {
    width: 250px;
    height: 200px
  }

  &__container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  &__title {
    @include reset;
    @include text;
    @include text-format(20px, 700, normal);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: $colorTextGold;
    text-wrap: nowrap;
    padding-left: 10px;
    cursor: pointer;
  }

  &__pic {
    width: 100%;
  }

  &__pic-class {
    padding-right: 3px;
  }

  &__pic-flag {
    height: 20px;
  }

  &__span {
    padding-left: 3px;
  }
}