@import '../scss/utils/mixins';
@import "../scss/utils/variables";

.sortingPanel {
  display: flex;
  flex-direction: row;
  gap: 50px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__container-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    &_type_types {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__container-title {
    @include reset;
    @include text;
    @include text-format(16px, 300, normal);
    color: $colorTextWhite;
  }

  &__input {
    margin-right: 10px;
    color: aquamarine;
  }

  &__label {
    color: $colorTextInput;
    display: flex;
    align-items: center;
  }
}