/* stylelint-disable */
@import "normalize.css";
@import "./fonts/RobotoCondenser/fonts.css";
/* stylelint-enable */

// ::-webkit-scrollbar { width: 0;}

body {
  margin: 0 auto;
  font-family: RobotoCondensed, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: black;
  position: relative;
  max-width: 1600px;
}